<div class="container__contact">
  <div class="container__contact__title">
    <h1>Contact</h1>
    <p>You can contact by the following means</p>
  </div>
  <div class="container__contact__socialNetworks">
        <div class="container__contact__socialNetworks__item">
          <div class="container__contact__socialNetworks__item__img">
            <a target="_blank" href="https://www.linkedin.com/in/cristopher-saraos">
              <img src="./assets/img/linkedin.png" alt="">
            </a>
            <h4>Linkedin</h4>
          </div>

        </div>
        <div class="container__contact__socialNetworks__item">
          <div class="container__contact__socialNetworks__item__img">
            <a target="_blank" href="mailto:cristopher.saraos@gmail.com">
              <img  src="./assets/img/gmail.png" alt="">
            </a>
            <h4>Gmail</h4>
        </div>

        </div>
        <div class="container__contact__socialNetworks__item">
          <div class="container__contact__socialNetworks__item__img">
            <a target="_blank" href="https://t.me/CristopherSaraos">
              <img src="./assets/img/telegram.webp" alt="">
            </a>
            <h4>Telegram</h4>
          </div>
        </div>
        <div class="container__contact__socialNetworks__item">
          <div class="container__contact__socialNetworks__item__img">
            <a  target="_blank" href="https://wa.me/+56957332633" >
              <img src="./assets/img/whatsapp.webp" alt="">
            </a>
            <h4>Whatsapp</h4>
         </div>
        </div>

</div>
  </div>
