<div class="container__aside">
  <div class="container__profile">
    <div class="container__profile__img">
        <img src="./assets/img/cristopher_saraos.jpeg" alt="">
    </div>
    <div class="container__profileInfo">
        <h1>Cristopher Saraos</h1>
        <h6>FRONTEND DEVELOPER</h6>
    </div>

    <div class="container__personalSkills-LANG">
        <h1>Personal Skills</h1>
        <ul>
          <li>Respectful</li>
          <li>Organized</li>
          <li>Motivated</li>
          <li>Interpersonal skills</li>
          <li>Analytical thinking</li>
        </ul>
    </div>
    <div class="container__personalSkills-LANG">
        <h1>Languages</h1>
        <ul>
          <li>English B1 MCE</li>
        </ul>
    </div>



  </div>
</div>
