<div class="container__main">
    <div class="container__presentation">
      <h1>Dead</h1>
      <p>I am a web developer focused mainly on the frontend, trained to work in a collaborative team and in agile methodology. I like to be in constant learning of the new technologies in the world. The main framework with which I work is angular with which I can generate products of great value for users.</p>
    </div>

    <div class="container__education">
      <h1>Education</h1>
      <ul>
        <li>Informatics Engineering
          <span>Instituto Duoc UC  | Studying</span>
        </li>
        <li>Programmer Analyst
          <span>Instituto Duoc UC  | 2017- 2020</span>
        </li>
        <li>Secondary Education
          <span>Liceo RDC| 2013- 2016</span>
        </li>
      </ul>
    </div>

    <div class="container__certificates-course">
      <h1>Certificates and courses</h1>
      <div class="container__certificates-course_item">
        <span>Advanced Angular: Take your bases to the next level - MEAN</span>
        <button class="btn-go">GO</button>
      </div>
      <div class="container__btnGroup">
        <a class="btn-actions" href="#"><i class="fas fa-solid fa-arrow-left"></i></a>
        <a class="btn-actions"  href="#"><i class="fas fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
</div>
